@CHARSET "ISO-8859-1";

 body {
	
	background-color: #b39ddb;
	
} 


.page-footer deep-purple {
	
	
	display: inline-flex;
	
	
}


.main {
	max-width: 100%; 
	margin-center: auto; 
	/* margin: 0 auto; */ 
}





/* .maincontainer{
	
	width: 100%;
	
	display: inline-flex;
}

#myImage  {
	margin: 0 auto;
	max-width: 50%;
	max-height: 50%;
	
	
}



.row {
	max-width: 100%; 
	margin-left: auto;
	margin: 0 auto; 
}

.mycontainer {
	background-color: #b39ddb;
	 margin-left: auto; 
	 margin-right: auto; 
}

.card-content{
	
	text-align: center;
	
}



.card-action{
	
	
	margin-left: auto;
	margin-right: auto;
	
	
}


.formholder {
	width:100%;
margin-left: auto;
	margin-right: auto;
	

	
}

.myForm 
{
	padding: 1em;
	width:15%;
	margin:0 auto;
	
}


.choice{
	
	
	width: 20%;
	margin:0 auto;
	
}



.row1 {
	
	
	width: 100%;
	padding: 1em;
		
	
}


.result {
	
	width: 70%;
	margin: 0 auto;
	
	
}


#field{
	
	
	color: white;
	
} */